//@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik/Graphik-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Graphik medium";
  src: url("../assets/fonts/Graphik/Graphik-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Graphik light";
  src: url("../assets/fonts/Graphik/Graphik-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Graphik extralight";
  src: url("../assets/fonts/Graphik/Graphik-Extralight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Graphik semibold";
  src: url("../assets/fonts/Graphik/Graphik-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


// Body
//$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

// Colors
$white: #ffffff;
$black: #000000;
$navbar: #AF0F0F;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$container-max-widths: (
  //sm: 540px,
  //md: 720px,
  //lg: 768px,
        sm: 100%,
        md: 100%,
        lg: 100%,
        xl: 1137px
);
